body {
  background-color: aliceblue; }

.app-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  background-color: #efffdc; }

nav {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 13em;
  background-color: #dcffec; }

main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  background-color: #dcdeff; }

footer {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  background-color: #f0ffdc; }
